* {
    background-color: #040404;   
    /* scroll-snap-type: y mandatory;  */
}

/*STYLING FOR SCROLLBAR*/

::-webkit-scrollbar {
    width: 0.35rem;
  }
  
  /*SCROLL TRACK*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #040404;
    border-radius: 10px;
  }
  
  /*SCROLL THUMB*/
  ::-webkit-scrollbar-thumb {
    background: #49fc03;
    border-radius:5px;
}

@media only screen and (min-width:1280px) {
    a {
        text-decoration: none !important;
        color:#c1c2c0;
    }

    a:hover:before {
        color:#49fc03 ;
        content: ">";
    }

    a:hover {
        color: #49fc03;
        text-shadow: 2px 3px 13px #53a330;
        animation-name:terminal-blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        opacity: 1;
    }

    .container-landing {
        display: flex;
        flex-direction: row;
        height:100vh;
    }
    
    .left-landing {
        font-family: 'orbitron';
        color: #49fc03;
        width: 50%;
        display:  flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }
    
    .right-landing {
        font-family: 'orbitron';
        width: 50%;
        display:  flex;
        align-items: center;
        justify-content: center;
        font-size: 110px;
    }
    .heading {
        font-family: 'orbitron';
        color:#49fc03;
        font-size: 75px;
    }

    .container-work {
        display: flex;
        width: 100%;
        /* height: 100vh; */
    }

    .about-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100vh;
        color: #49fc03;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:700;
        
    }

    #about-para {
        color: #c1c1c0;
        width: 50%;
        justify-items: start;
        font-size: 20px;
    }

    #skills {
        font-family: 'orbitron';
        color: #49fc03;
        width: 50%;
        flex-direction: column;
        display: flex;
    }


    #skills>li{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 15px;
        display: flex;
        justify-content: end;
        font-size: 30px;
        color: #c1c2c0;
    }

    .container-contact {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .contact-links {
        font-family: 'orbitron';
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        font-size: 70px;
    }
    .contact-links>a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    @keyframes terminal-blink {
        0% {
        opacity: 1;
       }
       10% {
        opacity: 0.9;
       }
       20% {
        opacity: 0.8;
       }
       30% {
        opacity: 0.7;
       }
       40% {
        opacity: 0.6;
       }
    }

    
}