* {
    background-color: #040404;
}

/*IMPORTING LOCALLY HOSTED FONT TO WEBSITE*/
@font-face {
    font-family: 'Radiotechnika';
    src: url('../../assets/fonts/Radiotechnika-2.0.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.left-section {
    font-family: 'Radiotechnika';
    color: #c1c2c0;
    display: flex;
    position: absolute;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2vh;
    margin-left: 50px;
}

.nav {
    font-family: 'Radiotechnika';
   color: #c1c2c0; 
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   font-size: 15vh;
   
}

.nav>li {
    margin: 0px 0px 50px 0px;
}

.nav>li:hover:before {
    color:#49fc03 ;
    content: ">";
}

.nav>li:hover {
    color: #49fc03;
    text-shadow: 2px 3px 13px #53a330;
    animation-name:terminal-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 1;
}

#about-nav {
    margin-right: 30px;
}

#contact-nav {
    margin-right: 6
0px;
}
/*ANIMATION FOR TERMINAL BLINK EFFECT*/
@keyframes terminal-blink {
    0% {
    opacity: 1;
   }
   10% {
    opacity: 0.9;
   }
   20% {
    opacity: 0.8;
   }
   30% {
    opacity: 0.7;
   }
   40% {
    opacity: 0.6;
   }
}